{% extends "base.html" %}

{% block content %}
    <h1>Home Page</h1>
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp }}</h6>
                <p class="card-text">{{ post.body }}</p>
                {% if post.image_path %}
                    <img src="{{ post.image_path }}" alt="Image" class="img-fluid">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}